.mySlides {
 display: none;
  } 
.prev, .next {
   cursor: pointer; 
   position: absolute; 
   top: 50%; 
   width: auto; 
   margin-top: -120px; 
   padding-left: 10px; 
   padding-right: px; 
   padding-bottom: 10px; 
   color: #A371D1; 
   font-weight: bold; 
   font-size: 60px; 
   transition: 0.5s ease; 
   border-radius: 0 15px 15px 0;
} 
.next { 
   right: 0px; 
   border-radius: 15px 0px 0px 15px; 
}
.prev:hover, .next:hover {
   background-color: white; 
}
